{{ partial "head.html" . }}
{{ partial "blog_header.html" . }}

<!-- Page Header -->
    <header class="blog-header" style="background-image: url('{{ .Site.BaseURL }}/img/blog-bg.jpg')">
     <div class="container">
       <div class="row" >
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="blog-title" >
             <h1>Blog</h1>
             <hr class="small">
             <span class="subheading">Stuff, Etc.</span>
           </div>
         </div>
       </div>
     </div>
    </header>

<!-- Post List -->
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="summaries">
          {{ $lb := 10 }}
          {{ $ub := 20 }}
          {{ range $index, $element := where .Site.Pages "Section" "post" }}
            {{ if and (ge $index $lb) (lt $index $ub) }}
              {{ .Render "summary" }}
            {{ end }}
          {{ end }}
          <!-- Pager -->
          <div class="row">
            <ul class="pager left-pager">
                <li class="next">
                <a href="{{ .Site.BaseURL }}/blog">&larr; Newer Posts</a>
                </li>
            </ul>
            <!-- UNCOMMENT IF NO LONGER LAST PAGE
            <ul class="pager right-pager">
                <li class="next">
                <a href="{{ .Site.BaseURL }}/blog/page2">Older Posts &rarr;</a>
                </li>
            </ul>
            -->
            </div>
          <br/>
        </div>
      </div>
</div>

{{ partial "footer.html" . }}
