 <!--Work Section -->
<section id="work" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12">
            <hr id="work-heading-spacer" class="section-heading-spacer">
            <div class="clearfix"></div>
            <h1 class="main-section-heading">Work</h1>
        </div>
    </div>
{{ range where .Site.Pages "Section" "work" }}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<br/>
			<br/>
            <div class="col-lg-2">
                <img src="{{ .Params.image }}" class="img-responsive"
                style="width: auto; max-height: 100%;"></img>
            </div>
            <div class="col-lg-10">
                <h2 class="project-title text-left" style="margin-top: 0;">{{ .Title }}</h2>
                <div class="project-subject text-left">
                    {{ .Content }}
                </div>
            </div>
			<br/>
		</div>
	</div>
{{ end }}
<br/>
</section>
