{{ partial "head.html" . }}
{{ partial "blog_header.html" . }}

<!-- Page Header -->
    <header class="blog-header" id="img-div" style="background-image: url('{{ .Site.BaseURL }}/img/site_backgrounds/blog-bg.jpg')">
     <div class="container">
       <div class="row" >
         <div class="col-lg-8 col-lg-offset-2">
           <div class="blog-title" >
             <h1>Business Card Landing Page</h1>
             <hr class="small">
             <span class="subheading">Welcome!</span>
           </div>
         </div>
       </div>
     </div>
     <div class="img-caption">
            <h6>Primrose Hill, London</h6>
	   </div>
    </header>

{{ partial "footer.html" . }}
